name: Enviar notificaci칩n a ntfy.sh

on:
  push:                # Evento que dispara el workflow
    branches:
      - main           # Solo cuando hay un push en la rama main

jobs:
  notify:
    runs-on: ubuntu-latest   # GitHub usar치 una m치quina Linux
    steps:
      - name: Descargar c칩digo
        uses: actions/checkout@v3   # Baja tu repo a la m치quina

      - name: Enviar notificaci칩n a ntfy.sh
        run: |
          curl -d "游 Nuevo push en la rama main del repositorio $GITHUB_REPOSITORY" \
               https://ntfy.sh/devops-itla